.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  position: relative;
  @media screen and (max-width: 768px) {
    width: 70vw;
  }

  .card-container {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .card-wrapper {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    padding: 1rem;
    z-index: 2;

    &:hover {
      color: #ff0;
    }
  }
}
